:host {
  margin-top: 64px;
  position: absolute;
  right: 0;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: 56px 56px;
  background-position: center center;
  display: block;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  background-color: #424242;

}

.tab-icons{
  margin-right: 8px;
}
.flex-container {
  display: flex;
  align-items: center;
}
::ng-deep .mat-tab-labels{
  justify-content: center;
}
::ng-deep .mat-tab-label{
  color:white;
  opacity: 0.5;
}
::ng-deep .mat-tab-label[aria-selected="true"] {
  background-color: gray;
  opacity: 1;
}