<mat-toolbar>
  <mat-toolbar-row class="row-header">
    <h4 class="mat-header">
      <a routerLink="/">
        Cross Layers<span>ALPHA</span>
      </a>
    </h4>
    <sketch-dropzone matTooltip="Browse files" (changed)="sketchContainerRef.onFileSelected($event)" mode="mini"></sketch-dropzone>
    <a matTooltip="Feedback" mat-icon-button target="__blank" href="https://github.com/manekinekko/xlayers/issues">
      <mat-icon>bug_report</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="row-settings" *ngIf="currentPage">
    <section [hidden]="!enabled">
      <button [disabled]="isCodeEditor" matTooltip="Toggle Wireframe Mode" [color]=" preview ? 'warn':'' " mat-button (click)="togglePreview()">
        <mat-icon>visibility</mat-icon>
      </button>
      <button [disabled]="isCodeEditor" matTooltip="Toggle Preview Mode" [color]=" wireframe ? 'warn':'' " mat-button (click)="toggleWireframe()">
        <mat-icon>layers</mat-icon>
      </button>
      <button [disabled]="isCodeEditor || zoomLevel >= 3" matTooltip="Zoom In" mat-button (click)="ZoomIn()">
        <mat-icon>zoom_in</mat-icon>
      </button>
      <button [disabled]="isCodeEditor || zoomLevel <= 0.1" matTooltip="Zoom Out" mat-button (click)="ZoomOut()">
        <mat-icon>zoom_out</mat-icon>
      </button>
      <button [disabled]="isCodeEditor" matTooltip="Toggle 3D" mat-button [color]=" is3dView ? 'warn':'' " (click)="toggle3d()">
        <mat-icon>3d_rotation</mat-icon>
      </button>
      <button matTooltip="Code generation will be available soon" color="accent" mat-button>
        <mat-icon>code</mat-icon>
      </button>
    </section>
  </mat-toolbar-row>

</mat-toolbar>
<mat-drawer-container autosize [class.transparent-bg]="colors?.background === 'transparent'">

  <mat-drawer mode="side" opened="false" disableClose="true" #settingNavRef>

    <section>
      <mat-expansion-panel *ngIf="shouldEnableCanvasSettings">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Settings
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-list-item [matMenuTriggerFor]="menuColor">
            <span class="color-preview" [class.transparent-bg]="colors?.background === 'transparent'" [style.backgroundColor]="colors?.background"></span> Canvas Color

            <mat-menu #menuColor="matMenu" class="menu-color-panel" [overlapTrigger]="false">
              <color-sketch [color]="colors.background" (onChangeComplete)="changeBackgroundColor($event)"></color-sketch>
            </mat-menu>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel #pagesPanelRef [hidden]="!currentPage">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pages
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-list-item
            [ngClass]="{ 'selected-page': currentPage?.name === sketchPages[idx]?.name }"
            *ngFor="let page of sketchPages;trackBy:pageName;let idx=index"
            (click)="setCurrentPage(page)">
            {{ page.name }}
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel #layersPanelRef [hidden]="!currentPage">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Layers
          </mat-panel-title>
        </mat-expansion-panel-header>

        <sketch-tree-view></sketch-tree-view>
      </mat-expansion-panel>

      <footer>
        <span>Build: {{ version }}</span>
      </footer>

    </section>

  </mat-drawer>

  <mat-drawer mode="side" opened="false" position="end" hasBackdrop="false" #currentLayerNavRef>

    <sketch-settings-container></sketch-settings-container>

    <mat-nav-list class="side-nav-bottom">
      <mat-list-item (click)="closeLayerSettings()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>

  <section class="mat-drawer-content">
    <sketch-editor-container *ngIf="isCodeEditor"></sketch-editor-container>
    <sketch-container #sketchContainerRef></sketch-container>
  </section>

</mat-drawer-container>