:host,
.mat-drawer-container {
  display: block;
  min-height: 100%;
  height: 100%;
}

.transparent-bg {
  background-color: transparent;
  background-image: url(/assets/transparent-square-tiles.png);
  background-repeat: repeat;
  background-size: 130px;
}

.mat-drawer {
  width: 200px;
}

.mat-toolbar {
  position: fixed;
  z-index: 9;
}

[hidden] {
  display: none;
}

.mat-header {
  display: flex;
  width: 100%;
  font-weight: 100;
}

.mat-header a {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  margin-left: -5px;
  margin-top: 25px;
}

.mat-header span {
  font-size: 11px;
  margin-top: -34px;
  margin-left: 118px;
  display: block;
  color: black;
  background: white;
  padding: 2px;
  border-radius: 1px;
  height: 12px;
  line-height: 13px;
  font-weight: 500;
}

sketch-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  top: 64px;
  position: absolute;
}

.mat-list-item.selected-page {
  background-color: #ee4743;
}

button[mat-button] {
  min-width: 48px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

.side-nav-bottom {
  position: absolute;
  bottom: 0;
}

.color-preview {
  background-color: transparent;
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 10px;
}

.menu-color-panel,
.mat-menu-content {
  box-shadow: none;
  background-color: transparent;
  padding: 0;
}

.logo {
  font-size: 1.2em;
  left: -5px;
  position: relative;
  top: 5px;
}

.mat-drawer-content {
  overflow: hidden;
}

.mat-drawer {
  top: 94px;
}

.row-header {
  height: 30px;
}
.row-settings {
  justify-content: center;
}

footer {
  display: block;
  bottom: 0;
  height: 20px;
  padding: 5px;
  font-size: 0.8em;
  line-height: normal;
  margin: 10px 0;
}
