<mat-drawer-container autosize>

  <mat-toolbar>
    <mat-toolbar-row>
      <h1 class="mat-header" [hidden]="!enabled">
        <button matTooltip="Toggle Wireframe Mode" [color]=" preview ? 'warn':'' " mat-button (click)="togglePreview()">
          <mat-icon>visibility</mat-icon>
        </button>
        <button matTooltip="Toggle Preview Mode" [color]=" wireframe ? 'warn':'' " mat-button (click)="toggleWireframe()">
          <mat-icon>layers</mat-icon>
        </button>
        <button matTooltip="Toggle Code Mode" [color]=" wireframe ? 'warn':'' " mat-button (click)="toggleCodeEditor()">
          <mat-icon>code</mat-icon>
        </button>
        <button matTooltip="Auto Fix Layers Position" mat-button (click)="autoFixLayersPosition()">
          <mat-icon>assistant</mat-icon>
        </button>
      </h1>
      <sketch-dropzone (changed)="sketchContainerRef.onFileSelected($event)" mode="mini"></sketch-dropzone>
    </mat-toolbar-row>

  </mat-toolbar>
  <mat-drawer mode="side" opened="true" disableClose="true">

    <mat-toolbar>
      <h1 class="mat-header">xLayers
        <span>ALPHA</span>
      </h1>
    </mat-toolbar>

    <section>
      <mat-expansion-panel #expansionPanelRef [hidden]="!currentPage">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pages
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-list-item 
            [ngClass]="{ 'selected-page': currentPage?.name === page.name }" 
            *ngFor="let page of sketchPages; trackBy: pageName(page)" 
            (click)="setCurrentPage(page)">
            {{ page.name }}
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </section>

  </mat-drawer>

  <mat-drawer mode="side" opened="false" position="end" hasBackdrop="false" #currentLayerNavRef>

    <mat-toolbar>
      <h1 class="mat-header">{{ currentLayer?.name }}</h1>
    </mat-toolbar>

    <section class="current-layer-settings">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Size
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput type="number" placeholder="Height" [ngModel]="currentLayer?.frame.height.toFixed(2)">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Width" [ngModel]="currentLayer?.frame.width.toFixed(2)">
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Position
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput type="number" placeholder="Left" [ngModel]="currentLayer?.frame.x.toFixed(2)">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Top" [ngModel]="currentLayer?.frame.y.toFixed(2)">
        </mat-form-field>
      </mat-expansion-panel>
    </section>

    <mat-nav-list class="side-nav-bottom">
      <mat-list-item (click)="closeLayerSettings()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>

  <sketch-container #sketchContainerRef></sketch-container>

</mat-drawer-container>