<mat-drawer-container autosize>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="mat-header">Sketch Viewer
      <span>BETA</span>
    </h1>

    <ngx-sketch-dropzone (changed)="sketchContainerRef.onFileSelected($event)" mode="mini"></ngx-sketch-dropzone>
  </mat-toolbar>

  <mat-drawer #snav mode="side">
    <mat-toolbar color="primary">
      <h1>Sketch Viewer</h1>
    </mat-toolbar>
  </mat-drawer>

  <div>
    <ngx-sketch-container #sketchContainerRef></ngx-sketch-container>
  </div>

</mat-drawer-container>