:host,
mat-drawer-container {
  display: block;
  min-height: 100%;
  height: 100%;
}

mat-drawer-container {
  background-color: transparent;
}

mat-drawer {
  width: 150px;
}

mat-drawer mat-expansion-panel {
  top: 66px;
  position: relative;
}

mat-toolbar {
  position: fixed;
  z-index: 9;
}

.mat-header {
  display: flex;
}

h1 span {
  font-size: 12px;
  display: block;
  margin-top: -5px;
  margin-left: 5px;
}

sketch-dropzone {
  right: 140px;
  position: absolute;
  width: 100px;
  display: flex;
}