<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodeToggle
      matTreeNodePadding
      matTreeNodePaddingIndent="20"
      (click)="selectLayer(node)"
      [attr.data-id]="node.id"
      [attr.data-class]="node.kind"
      [ngClass]="{ selected: node.id === currentLayer?.do_objectID }"
    >
      <button mat-icon-button>
        <mat-icon class="kind-icon">
          {{ getNodeIcon(node) }}
        </mat-icon>
        {{ node.name }}
      </button>
    </mat-tree-node>

    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
      matTreeNodePaddingIndent="20"
      [ngClass]="{ selected: node.id === currentLayer?.do_objectID }"
      [attr.data-id]="node.id"
      [attr.data-class]="node.kind"
      [attr.aria-label]="'toggle ' + node.name"
      (click)="selectLayer(node)"
    >
      <button mat-icon-button>
        <mat-icon
          matTreeNodeToggle
          [matTreeNodeToggleRecursive]="false"
          class="mat-icon-rtl-mirror"
        >
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
        <mat-icon class="kind-icon">
          {{ getNodeIcon(node) }}
        </mat-icon>

        {{ node.name }}
      </button>
    </mat-tree-node>
  </mat-tree>