:host {
  display: block;
  height: 100%;
  position: relative;
}

header {
  height: auto;
  margin-top: -40px;
  border-bottom: 1px solid rgba(255, 108, 95, 0.7);
}

header h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  padding: 22px 0 0;
}

header h1 sup {
  font-size: 20px;
}

.logo-wrapper {
  position: relative;
  width: 121px;
  height: 108px;
  margin: 0 auto;
}

header img.logo {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: rotate 10s linear infinite;
}

header h3 {
  text-align: center;
  font-weight: 100;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}
header img {
  max-width: 844px;
  display: block;
  margin: auto;
  width: 100%;
}

.try-it {
  padding: 0px 10px 60px;
  text-align: center;
  border-top: 1px solid rgba(255, 108, 95, 0.31);
  margin-bottom: 20px;
}

.try-it a {
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 50px;
  font-size: 2em;
  background: linear-gradient(217deg, #ff6c5f, #ff4f81 70.71%),
    linear-gradient(127deg, #3369e7, #b84592 70.71%),
    linear-gradient(336deg, #ff4f81, #ffc168 70.71%);
  margin-top: -20px;
  text-transform: uppercase;
}

.try-it .button {
  margin-top: -20px;
}

.try-it.outline a {
  font-size: 1.2em;
  background: white;
  color: #ff4f81;
  border: 1px solid #ff4f81;
}

.try-it.outline .button {
  margin-top: 0;
}

footer {
  padding: 30px;
  text-align: center;
  color: white;
}

footer a {
  color: white;
}

footer i {
  font-size: 10px;
}

.bg {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg p {
  padding: 0px 60px;
}

.bg-2:before {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  background: url(/assets/xlayers-bg-2.png) -270px -80px/680px no-repeat;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-top: -156px;
  margin-left: 60px;
}

.bg-3:before {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  background: url(/assets/xlayers-bg-3.png) -60px -80px/680px no-repeat;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-top: -156px;
  margin-left: -30px;
}

@media (min-width: 500px) {
  .bg-2:before,
  .bg-3:before {
    margin-top: -106px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
