<header class="masthead bg-pattern-color">
  <nav>
    <h1>
      <div class="logo-wrapper">
          <img class="logo" src="/assets/xLayers-logo.png" alt="xlayers logo">
      </div>
      <a href="/">
        Cross Layers
      </a>
    </h1>
    <h3>Preview and Convert SketchApp files into Angular Components.</h3>
  </nav>

  <img src="assets/xlayers-ui-1.png" />
</header>

<section class="try-it">
  <div class="button">
    <a routerLink="/editor" class="btn btn-outline btn-xl">Get Started</a>
  </div>
</section>

<section class="bg bg-0">
  <img width="600" src="/assets/xlayers-bg-0.png" />
  <p class="mat-headline">Designers will usually use the SketchApp<sup>1</sup> app to create beautiful UI components...</p>
</section>

<section class="bg bg-4">
  <img width="600" src="/assets/xlayers-bg-4.png" />
  <p class="mat-headline">Now, Designers can simply drag and drop the SketchApp project file (*.sketch) containing the UI component into xLayers to preview their creation directly inside the browser.</p>
</section>

<section class="bg bg-2">
  <img width="600" src="/assets/xlayers-bg-2.png" />
  <p class="mat-headline">xLayers even has a 3D viewing mode allowing both Designers and Developers to preview all the layers that compose the UI component, and inspect their size, position and color properties.</p>
</section>

<section class="bg bg-3">
  <img width="600" src="/assets/xlayers-bg-3-ng.png" />
  <p class="mat-headline">Developers would usually use xLayers to export the UI component made with the SketchApp app as an Angular component and import it into an existing Angular application.</p>
</section>

<section class="bg try-it outline">
  <p class="mat-headline">xLayers is fully Open Source and available on GitHub.</p>
  <br/>
  <div class="button">
    <a target="__blank" href="https://github.com/manekinekko/xlayers" class="btn btn-outline btn-xl">Join Us On GitHub</a>
  </div>
</section>

<footer class="bg-pattern-color">
  <div class="container">
    <p>Made with ♡ by
      <a href="https://twitter.com/manekinekko">Wassim Chegham (@manekinekko)</a> for both Designers and Developers.
    </p>
    <p>
      <i>xLayers is still in ALPHA release, the UI and UX might change in the final release.</i><br/>
      <i><sup>1</sup> Supported SketchApp version v43 and above.</i><br>
      <i>xLayers logo was kindly contributed by <a href="https://twitter.com/centigradegmbh">@centigradegmbh</a></i>
      <br/><br/>
      <span>Build: {{ version }}</span>
    </p>
  </div>
</footer>
