:host {
  margin-top: 64px;
  position: absolute;
  right: 0;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: 56px 56px;
  background-position: center center;
  display: block;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
}
.code-highlight-editor pre {
  margin-top: 0px;
}
.code-highlight-editor {
  overflow: auto;
}
.code-highlight-editor code {
  font-family: Consolas, 'Courier New', monospace;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
}
:host,
.code-highlight-editor,
.code-highlight-editor code {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  min-height: 100%;
  padding-bottom: 64px;
}
.mat-tab-group,
.mat-tab-group ::ng-deep .mat-tab-body-wrapper {
  height: 100%;
  position: relative;
}
.mat-tab-group
  ::ng-deep
  .mat-tab-body-wrapper
  .mat-tab-body
  .mat-tab-body-content {
  overflow: hidden;
}
.mat-tab-group ::ng-deep .mat-tab-body-wrapper {
  padding-top: 5px;
}
.mat-tab-group ::ng-deep .mat-tab-header {
  width: calc(100% - 60px);
}
:host mat-icon {
  margin: 0 4px;
}
.framework_selection,
.framework_selection ::ng-deep .mat-tab-group{
  background-color:#ff4f81;
}
.framework_selection .flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin:10px;
}
.framework_selection ::ng-deep .mat-tab-labels{
  justify-content: center;
}
.framework_selection ::ng-deep .mat-tab-label{
  color:white;
}

.framework_selection ::ng-deep .mat-tab-label[aria-selected="true"] {
  background-color: gray;
}

.framework_selection .mat-tab-group ::ng-deep .mat-tab-body-wrapper {
  padding-top: 0px;
}
