:host {
  display: flex;
  height: 100%;
  min-height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #b0b0b0;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

section {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
}
.dragging {
  border: 1px dashed #c2185c;
  transition: all 1s ease-in-out;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:600px) {
  .section {
    padding: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section {
    padding: 5px;
  }
}

