<section>
  <mat-tab-group
    selectedIndex="0"
    disableRipple="true"
    animationDuration="0ms"
    dynamicHeight="false"
  >
    <mat-tab *ngFor="let file of codeSetting.content">
      <ng-template mat-tab-label>
        <mat-icon [svgIcon]="file.kind"></mat-icon>
        {{ file.uri }}
      </ng-template>

      <ng-template matTabContent>
        <div
          #codeContentEditor
          spellcheck="false"
          class="code-highlight-editor"
          (keydown)="simulateContentEditorScroll($event)"
        >
          <pre><code contentEditable="true" [highlight]="file.value" (highlighted)="onEditorInit($event, codeContentEditor)"></code></pre>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <mat-form-field class="framework_selection" appearance="fill">
    <mat-label>Framework</mat-label>
    <mat-select
      [(ngModel)]="selectedFramework"
      (selectionChange)="onChange($event)"
    >
      <mat-select-trigger>
        <div class="flex-container">
          <mat-icon svgIcon="{{ selectedFramework.svgIcon }}"></mat-icon
          >{{ selectedFramework.label }}
        </div>
      </mat-select-trigger>
      <mat-option *ngFor="let framework of frameworks" [value]="framework">
        <div class="flex-container">
          <mat-icon svgIcon="{{ framework.svgIcon }}"></mat-icon>
          {{ framework.label }}
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>
