/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body,
html {
  margin: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
}

body {
  background-image: url(/assets/transparent-square-tiles.png);
  background-repeat: repeat;
  background-size: 130px;
}
