<mat-toolbar>
  <mat-toolbar-row class="row-header">
    <div class="header-title">
      <img src="/assets/icons/icon-72x72.png" />
      <a routerLink="/"
        >xLayers<span>{{ badge }}</span>
      </a>
    </div>
    <ng-container *ngIf="sourceFileData as fileData">
      <div  data-cy="fileData" class="header-file-data" mat-div matTooltip={{fileData.version}}>
        <img [src]="fileData.icon" />
        <div [title]="fileData.name" class="file-name">{{fileData.name}}</div>
      </div>
    </ng-container>
    <div class="header-spacer">
      <div
        [hidden]="!enabled"
        class="row-settings"
        *ngIf="currentPage && !isCodeEditor"
      >
        <button
          [matTooltip]="(editorTranslations | async)?.preview_mode"
          data-cy="togglePreviewMode"
          [color]="wireframe ? 'warn' : ''"
          mat-button
          (click)="toggleWireframe()"
        >
          <mat-icon>layers</mat-icon>
        </button>
        <button
          [disabled]="zoomLevel >= 3"
          data-cy="zoomIn"
          [matTooltip]="(editorTranslations | async)?.zoom_in"
          mat-button
          [color]="zoomIn ? 'warn' : ''"
          (click)="ZoomIn()"
        >
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button
          [disabled]="zoomLevel <= 0.1"
          data-cy="zoomOut"
          [matTooltip]="(editorTranslations | async)?.zoom_out"
          mat-button
          [color]="zoomOut ? 'warn' : ''"
          (click)="ZoomOut()"
        >
          <mat-icon>zoom_out</mat-icon>
        </button>
        <button
          [matTooltip]="(editorTranslations | async)?.zoom_reset"
          data-cy="zoomReset"
          mat-button
          [color]="resetZoom ? 'warn' : ''"
          (click)="ZoomReset()"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          [matTooltip]="(editorTranslations | async)?.toggle_rotate"
          data-cy="toggle3D"
          mat-button
          [color]="is3dView ? 'warn' : ''"
          (click)="toggle3d()"
        >
          <mat-icon>3d_rotation</mat-icon>
        </button>
        <button
          [matTooltip]="(editorTranslations | async)?.codegeneration"
          mat-button
          (click)="toggleCodeEditor()"
        >
          <mat-icon>code</mat-icon>
        </button>
      </div>
    </div>
    <div
      [hidden]="!enabled"
      class="row-settings"
      *ngIf="currentPage && isCodeEditor"
    >
      <button
        [matTooltip]="(editorTranslations | async)?.back"
        mat-button
        (click)="togglePreview()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        [disabled]="!isStackblitzEnabled"
        (click)="openInStackblitz()"
        [matTooltip]="(editorTranslations | async)?.stackblitz"
        mat-button
      >
        <mat-icon>offline_bolt</mat-icon>
      </button>
      <button
        (click)="download()"
        [matTooltip]="(editorTranslations | async)?.download_zip"
        mat-button
      >
        <mat-icon>archive</mat-icon>
      </button>
    </div>
    <div class="header-actions">
      <button
        *ngIf="currentPage"
        (click)="close()"
        [matTooltip]="(editorTranslations | async)?.close_project"
        mat-icon-button
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="footer footer--full">
  <span>
    <a
      [matTooltip]="(editorTranslations | async)?.feedback"
      target="__blank"
      href="https://github.com/xlayers/xlayers/issues/new"
    >
      {{ (editorTranslations | async)?.feedback }}
    </a>
    ●
    <a
      [matTooltip]="(editorTranslations | async)?.support"
      target="__blank"
      href="https://opencollective.com/xlayers"
    >
      {{ (editorTranslations | async)?.support }}
    </a>
  </span>
  <span>
    <a
      [matTooltip]="(editorTranslations | async)?.twitter"
      target="__blank"
      href="https://twitter.com/xlayers_"
    >
      <img
        src="/assets/twitter.png"
        [alt]="(editorTranslations | async)?.twitter"
      />
    </a>
    <a
      [matTooltip]="(editorTranslations | async)?.github"
      target="__blank"
      href="https://github.com/xlayers/xlayers"
    >
      <img
        src="/assets/github-circle.png"
        [alt]="(editorTranslations | async)?.github"
      />
    </a>
  </span>
  <span>{{ 'APP.build' | translate }}: {{ version }}</span>
</footer>
